{
  "presets": ["react-app", ["@babel/preset-env", { "targets": {"node": "current"}}], "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime",
    [
      "react-intl-auto",
      {
        "removePrefix": "src/",
        "filebase": false
      }
    ]
  ]
}
