.App {
  text-align: center;
}

.App-logo {
  animation: none;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #f1f1f1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
video {
  width: 100%    !important;
  height: auto   !important;
}

.ui.segment.audio .react-audio-player {
  width: inherit;
}
.App-link {
  color: #61dafb;
}
.ui.vertical.inverted.menu .menu .item {
  padding: 1.6em;
}
.ui.labeled.icon.menu .item
.container-drag {
  text-align: center;
  height: 'inherit';
}

.wip {
  top: 10;
  background-color: #EEEEEE;
  border-right: 1px dotted;
}

.header {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #E0E0E0;
  width:100%;
}

.task-header {
  display: inline-block;
  width:100%;
}
.ui.segment.stageCol {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
.ui.segment.audio {
  padding: 0;
  margin: 0.2em;
  line-height: 2em;
}
.ui.segment.audio .label {
  margin-top: 1em;
}
.ui.segment.audio .react-audio-player {
  margin: 0;
  padding: 0;
}
.droppable {
  width: inherit;
  height: 65vh;
  right: 0;
  top: 0;
  overflow-y: auto;
  overflow-x: none;
  background-color: #9E9E9E;
  border-left: 1px dotted;
}
.ui.card .droppable.single {
  width: 'inherit';
  padding: 0;
  margin: 0;
}
.draggable {
  width: inherit;
  height: 10vh;
  margin: 0;
  padding: 0;
  line-height: 5em;
}
.ui.segment.video {
  margin: 0 !important;
  padding: 0 !important;
}
.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}
.slidemenu {
  text-align: left!important;
}
.container > p {
  font-size: 1rem;
}

.container > em {
  font-size: .8rem;
}
div.DraftEditor-root {
  width:100%;
  margin:auto;
  box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.5);
  min-height: 50vh;
  overflow-y: scroll;
  padding:20px;
  font-size: 18px;
  font-family: 'calibri', sans-serif;
}
.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border .24s ease-in-out;
}

.dropzone:focus {
  border-color: #2196f3;
}

.dropzone.disabled {
  opacity: 0.6;
}
.dropzone {
  height : 15vh;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes nav {
  from { opacity: 0; transform: translate3d(0, -25px, 0) }
  to { opacity: 1; transform: translate3d(0, 0, 0) }
}

.menu {
  animation: nav 0.2s ease-in-out forwards;
  opacity: 0;
}
#root {
  /* background-color: '#6435c9'; */
}
.main {
  padding-top: 0!important;
    padding-bottom: 0 !important;
}
.ui.visible.slide.along.sidebar.bwSidebar,.ui.slide.along.sidebar.bwSidebar {
  background: rgba(0,0,0,.87) none no-repeat;
  height: 100vh;
}
.ui.menu.fluid {
  min-height: 100vh;
}
    
.ui.vertical.menu.fluid.bwSidebarMenu .menu{
    height: 100vh !important;
}

.ui.vertical.menu.fluid .item.logout { display: block; position: fixed !importan; bottom: 0 !importan}

.view, .main {
  min-width: 100%;
  min-height: 100vh;
}
.view .view {
  min-height: inherit;
}
.view, .slide-out {
  animation: slide-out 0.5s forwards;
  -webkit-animation: slide-out 0.5s forwards;
}
.fadeInRight {
  animation: fadeInRight 0.5s forwards;
  -webkit-animation: fadeInRight 0.5s forwards;
}
.ui.vertical.icon.menu .item > i.icon {
  text-align: left;
  float: left!important;
  margin: 0 3em;
}
.ui.vertical.icon.menu .item {
  text-align: left;
}
.ui.vertical.icon.menu .item span {
  margin-left: 1.8em;
}
@keyframes slide-out {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(0);
 }
}

@-webkit-keyframes slide-out {
  0% {
      -webkit-transform: translateX(100%);
  }
  100% {
      -webkit-transform: translateX(0);
 }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
.view {
  margin: 0;
  padding: 8vh 2em 0!important;
}
@media screen and (max-width: 768px) {
  .menu {
    padding: 1em;
  }
}

.menu a {
  color: white;
}
.menu a span {   text-transform: uppercase; font-size: 10px; font-weight: bold}
.menu a.active{
    background: #000 !important;
}
@media screen and (max-width: 768px) {
  .menu a {
    margin: 0;
  }
}

@keyframes navdot {
  from { opacity: 0; }
  to { opacity: 1; }
}

.menu a:before {
  border-radius: 50%;
  content: '';
  background-color: #ff5252;
  left: 0;
  height: 10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translate(-200%, -50%);
  width: 10px;
}

@media screen and (max-width: 768px) {
  .menu a:before {
    bottom: 150%;
    top: auto;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.menu a.active:before {
  animation: navdot 0.25s ease-in-out forwards 0.25s;
}
.menu .ui.divider{margin: 0 !important}

.push .ui.button:not(.icon) > .icon:not(.button):not(.dropdown){ margin: 0 !important}

.ui.visible.left.sidebar ~ .fixed, .ui.visible.left.sidebar ~ .pusher{transform: translate3d(160px,0,0) !important;}

.ui.icon.header{ text-align: right !important; }

.ui.segment.view.story, #StepsContent.ui.segment.view {padding: 2em !important; }
.ui.segment.stagesMap{ padding: 0 !important}
.ui.segment.stages { padding: 0 2em 1em }
.ui.buttons{ padding: 0 0 1em}
.ui.table:first-child{margin-top: 1em !important; }
.ui.segment.view.map{padding: 0 !important}
.sytylingMap{margin: 2em !important}
.ui.label.labelLayer {}
input[type="color"] {
	opacity: 1;
	width: 32px;
	height: 32px;
	border: none;
    padding: 0px !important;
    margin-top: 0px
}