.App {
  text-align: center;
}

body{
    background: rgb(200,49,21);
    background: linear-gradient(172deg, rgba(200,49,21,1) 0%, rgba(253,29,29,1) 26%, rgba(255,164,0,1) 94%) !important;
    padding: 0 !important;
    margin: 0 !important;
}
#root {
  /* background-color: '#6435c9'; */
}
 .App-logo {
  animation: none;
  pointer-events: none;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(346deg) brightness(200%) contrast(100%);
  padding: 0 !important;
}
.App-header {
  background-color: transparent;
  min-height: 100vh !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

video {
  width: 100%    !important;
  height: auto   !important;
}

.ui.segment.audio .react-audio-player {
  width: inherit;
}
.App-link {
  color: #61dafb;
}
.ui.vertical.inverted.menu .menu .item {
  padding: 1.6em;
}
.ui.labeled.icon.menu .item{}

.container-drag {
  height: 'inherit';
}

.wip {
  top: 10;
  background-color: #EEEEEE;
  border-right: 1px dotted;
}
.rdw-editor-toolbar {
  background: transparent none no-repeat;
  border: none;
}
.rdw-option-wrapper,.rdw-embedded-modal,.rdw-image-modal,.rdw-emoji-modal, .rdw-colorpicker-modal-style-label, .rdw-link-modal,  .rdw-dropdown-selectedtext, .rdw-dropdown-optionwrapper, .rdw-dropdownoption-default,  .rdw-dropdownoption-active, .rdw-dropdown-carettoclose, .rdw-fontfamily-placeholder, rdw-dropdown-wrapper, rdw-editor-toolbar  {
  color: #FFF !important;
  background: #333;
  border: none;
}
.rdw-option-wrapper{ margin: 0 2px;}
.rdw-dropdown-wrapper{ border: 0;  margin: 0 2px;}
.rdw-option-wrapper img, .rdw-dropdown-selectedtext img, .rdw-dropdownoption-default img {
  -webkit-filter: invert(100%) !important; /* safari 6.0 - 9.0 */
  filter: invert(100%) !important;
}
.rdw-option-wrapper svg, .rdw-dropdownoption-default svg {
  color: #fff! important}
.ui.card, .ui.card .content, .ui.card .content  .react-card-flip {
  background-color: transparent !important;
  border: 0 !important;
}
.ui.card.desc {
  box-shadow: none !important;
}
.accordion .title, .accordion .title button {
  padding-top: 0;
  padding-bottom: 0;
}
.ui.header.segment{
  margin: 0 !important;
  padding: 31px !important;
  width:100%;
  text-transform: uppercase !important;
}

.ui.header.segment, #login, #signup, #home .segment, .segment .ui.header.segment{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='88' viewBox='0 0 88 88'%3E%3Cg fill='black' fill-opacity='0.15'%3E%3Cpath fill-rule='evenodd' d='M29.42 29.41c.36-.36.58-.85.58-1.4V0h-4v26H0v4h28c.55 0 1.05-.22 1.41-.58h.01zm0 29.18c.36.36.58.86.58 1.4V88h-4V62H0v-4h28c.56 0 1.05.22 1.41.58zm29.16 0c-.36.36-.58.85-.58 1.4V88h4V62h26v-4H60c-.55 0-1.05.22-1.41.58h-.01zM62 26V0h-4v28c0 .55.22 1.05.58 1.41.37.37.86.59 1.41.59H88v-4H62zM18 36c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H20a2 2 0 0 1-2-2zm0 16c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H20a2 2 0 0 1-2-2zm16-26a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zM34 58a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zM34 78a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-6zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-6zM34 4a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2V4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2V4zm-8 82a2 2 0 1 1 4 0v2h-4v-2zm0-68a2 2 0 1 1 4 0v10a2 2 0 1 1-4 0V18zM66 4a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0V4zm0 72a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0v-8zm-48 0a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0v-8zm0-72a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0V4zm24-4h4v2a2 2 0 1 1-4 0V0zm0 60a2 2 0 1 1 4 0v10a2 2 0 1 1-4 0V60zm14-24c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H58a2 2 0 0 1-2-2zm0 16c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H58a2 2 0 0 1-2-2zm-28-6a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 26a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM36 20a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm-8-8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 68a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16-34a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16-12a2 2 0 1 0 0 4 6 6 0 1 1 0 12 2 2 0 1 0 0 4 10 10 0 1 0 0-20zm-64 0a2 2 0 1 1 0 4 6 6 0 1 0 0 12 2 2 0 1 1 0 4 10 10 0 1 1 0-20zm56-12a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 48a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm-48 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-48a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm24 32a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-4a6 6 0 1 0 0-12 6 6 0 0 0 0 12zm36-36a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM10 44c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm56 0c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm8 24c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zM3 68c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4H5a2 2 0 0 1-2-2zm0-48c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4H5a2 2 0 0 1-2-2zm71 0c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm6 66a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM8 86a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-68A6 6 0 1 1 8 2a6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm36 36a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'/%3E%3C/g%3E%3C/svg%3E") !important;
}
.ui.header h4{}
.ui.header.segment.inverted, #login .inverted, #signup .inverted{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='88' viewBox='0 0 88 88'%3E%3Cg fill='%23d6d6d6' fill-opacity='0.1'%3E%3Cpath fill-rule='evenodd' d='M29.42 29.41c.36-.36.58-.85.58-1.4V0h-4v26H0v4h28c.55 0 1.05-.22 1.41-.58h.01zm0 29.18c.36.36.58.86.58 1.4V88h-4V62H0v-4h28c.56 0 1.05.22 1.41.58zm29.16 0c-.36.36-.58.85-.58 1.4V88h4V62h26v-4H60c-.55 0-1.05.22-1.41.58h-.01zM62 26V0h-4v28c0 .55.22 1.05.58 1.41.37.37.86.59 1.41.59H88v-4H62zM18 36c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H20a2 2 0 0 1-2-2zm0 16c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H20a2 2 0 0 1-2-2zm16-26a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zM34 58a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zM34 78a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-6zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-6zM34 4a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2V4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2V4zm-8 82a2 2 0 1 1 4 0v2h-4v-2zm0-68a2 2 0 1 1 4 0v10a2 2 0 1 1-4 0V18zM66 4a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0V4zm0 72a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0v-8zm-48 0a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0v-8zm0-72a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0V4zm24-4h4v2a2 2 0 1 1-4 0V0zm0 60a2 2 0 1 1 4 0v10a2 2 0 1 1-4 0V60zm14-24c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H58a2 2 0 0 1-2-2zm0 16c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H58a2 2 0 0 1-2-2zm-28-6a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 26a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM36 20a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm-8-8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 68a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16-34a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16-12a2 2 0 1 0 0 4 6 6 0 1 1 0 12 2 2 0 1 0 0 4 10 10 0 1 0 0-20zm-64 0a2 2 0 1 1 0 4 6 6 0 1 0 0 12 2 2 0 1 1 0 4 10 10 0 1 1 0-20zm56-12a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 48a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm-48 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-48a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm24 32a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-4a6 6 0 1 0 0-12 6 6 0 0 0 0 12zm36-36a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM10 44c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm56 0c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm8 24c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zM3 68c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4H5a2 2 0 0 1-2-2zm0-48c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4H5a2 2 0 0 1-2-2zm71 0c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm6 66a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM8 86a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-68A6 6 0 1 1 8 2a6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm36 36a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'/%3E%3C/g%3E%3C/svg%3E") !important;
}

.header .ui.animated.button{margin-top: -9px;}

.task-header {
  display: inline-block;
}
.ui.segment.stageCol {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  min-height: 100%;
  min-width: 100%;
    padding: 0 !important
}
.ui.segment.audio {
  padding: 0;
  margin: 0.2em;
  line-height: 2em;
}
.ui.segment.audio .label {
  margin-top: 1em;
}
.ui.segment.audio .react-audio-player {
  margin: 0;
  padding: 0;
}
.droppable {
  width: inherit;
  right: 0;
  top: 0;
  overflow-y: none;
  overflow-x: none;
  border: 1px dotted;
}
.stageCol .droppable {
  height: 55vh;
padding: 1em
}
.stageCol .droppable.image {
  height: auto;
}
.ui.card .droppable.single {
  width: 'inherit';
  padding: 0;
  margin: 0;
}
.draggable {
  width: inherit;
  height: auto;
  min-height: 10vh;
  margin: 0;
  padding: 0;
  line-height: 5em;
}
.ui.segment.video {
  margin: 0 !important;
  padding: 0 !important;
}
.container {
  flex-direction: column;
  font-family: sans-serif;
}
.slidemenu {
  text-align: left!important;
}
.container > p {
  font-size: 1rem;
}

.container > em {
  font-size: .8rem;
}
div.DraftEditor-root {
  width:100%;
  margin:auto;
  box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.5);
  min-height: 49vh;
  padding: 20px 5px;
  font-size: 18px;
  font-family: 'calibri', sans-serif;
}
.ui.stages .inverted.table tr td{ text-align: center}

.ui.stages .inverted.table thead{top: 0;  }
.ui.stages .inverted.table thead th{position: relative; }
.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 1px;
  border-radius: 1px;
  border-color: #999;
  border-style: dashed;
  color: #bdbdbd;
  outline: none;
  transition: border .24s ease-in-out;
  min-height: 18vh;
}
.dropzone:focus {
  border-color: #2196f3;
}

.dropzone.disabled {
  opacity: 0.6;
}
.dropzone {
  height : 15vh;
}
.ui.button.right.floated{display: inherit !important; margin-left: auto !important; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes nav {
  from { opacity: 0; transform: translate3d(0, -25px, 0) }
  to { opacity: 1; transform: translate3d(0, 0, 0) }
}
.menu {
  animation: nav 0.2s ease-in-out forwards;
  opacity: 0;
  background: rgb(4,22,42);
  background: linear-gradient(180deg, rgba(4,22,42,1) 0%, rgba(19,32,46,1) 72%, rgba(4,22,42,1) 100%);
}
.ui.segment.stageProfile.inverted{
      background: rgb(4,22,42);
}
.ui.segment.stageProfile.inverted .grid .two.wide.column {
  width: 215px !important;
}
.menu .item.logout{ position: fixed !important; bottom: 0px; display: block; width: 100%}
.menu .item.users{ position: fixed !important; bottom: 0; display: block; width: 100%; bottom: 80px !important; border-left: 0; border-bottom: 1px #333 solid; border-top: 1px #333 solid !important;  }
.top.ui.menu{
    background: transparent !important;
    display: inline;
    min-height: 100vh !important;
    width: 4vw;
    height: auto;
    min-width: 80px;
    max-height: 100vh;
    position: fixed !important;
    overflow: hidden !important;
    top: 0;
    left: 0;
    height: 100%;
    background: rgb(200,49,21);
    background: linear-gradient(172deg, rgba(200,49,21,1) 0%, rgba(253,29,29,1) 26%, rgba(255,164,0,1) 94%) !important;
}
.top.ui.menu .item { padding: 3px !important;}
.menu .button.hamburger{ padding: 9px !important; margin: 10px auto !important; border: 0 !important;}
.top.ui.menu.button::after{ border: 0 !important}
.ui.segment.main{ padding: 0 !important; }
.ui.segment.pushable, .ui.segment.main{ background: transparent !important}
.ui.main.container {
  padding: 0 !important;
  max-width: 94.5vw !important;
  margin: 0 0 0 80px !important;
width: 100%;
}
.ui.main.container {}

.ui.visible.slide.along.sidebar.bwSidebar,.ui.slide.along.sidebar.bwSidebar {
  background: rgba(0,0,0,.87) none no-repeat;
  min-height: 100vh;
  min-width: 11vw;
}
.ui.menu {
  /* min-height: 100vh; */
  box-shadow: none !important; border: 0 !important; border-radius: 0 !important;
}
.ui.menu:first-child{margin: 0px;}

.ui.circular.button{ border-radius: 1em !important}

.ui.vertical.menu.fluid.bwSidebarMenu .menu{
    min-height: 100vh !important;
}

.ui.very.wide.right.sidebar {
    width: 35vw;
}

.ui.vertical.menu.fluid .item.users  { display: block; position: fixed !importan; bottom: 0 !importan;}
.ui.vertical.menu.fluid .push-down{ display: block; position: fixed !importan; bottom: 0 !importan; margin-top: 39vh !important;}
.ui.top.menu .push-down { margin: 70vh auto 10px !important; padding:0 !important; border: 0 !important}
.ui.top.menu .userBar .ui.avatar.image{ width: 53px !important; height: 53px !important; margin: 0 auto; padding:0; border: 2px solid #fff }
.ui.top.menu .userBar { padding: 13px !important; display: block; position: fixed; bottom: 1vh; }

.view {
  min-width: 100%;
  min-height: 100vh;
}
.segment.main .segment.view,.container.view {
}
.segment.main{}
.view .view {
  min-height: inherit;
}

.view .segment.blurring {
  padding: 0;
}
.slide-out {
  animation: slide-out 0.5s forwards;
  -webkit-animation: slide-out 0.5s forwards;
}
.fadeInRight {
  animation: fadeInRight 0.5s forwards;
  -webkit-animation: fadeInRight 0.5s forwards;
}
.ui.vertical.icon.menu .item > i.icon {
  text-align: left;
  float: left!important;
  margin: 0 3em;
}
.ui.vertical.icon.menu .item {
  text-align: left;
}
.ui.vertical.icon.menu .item span {
  margin-left: 1.8em;
}
@keyframes slide-out {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(0);
 }
}

@-webkit-keyframes slide-out {
  0% {
      -webkit-transform: translateX(100%);
  }
  100% {
      -webkit-transform: translateX(0);
 }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
.ui.segment.view {
  margin: 0;
  padding: 2vh 2vw 0!important;
  box-shadow: 0 !important;
  border: 0 !important;
}
@media screen and (max-width: 768px) {
  .menu {
    padding: 1em;
  }
}

.menu a {
  color: white;
}
.menu a span {   text-transform: uppercase; font-size: 10px; font-weight: bold}
.menu a.active{
    background: #000 !important;
}
@media screen and (max-width: 768px) {
  .menu a {
    margin: 0;
  }
}

@keyframes navdot {
  from { opacity: 0; }
  to { opacity: 1; }
}

.menu a:before {
  border-radius: 0 !important;
  content: '';
  background-color: #ff5252;
  left: 0;
  height: 10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translate(-200%, -50%);
  width: 10px;
}

@media screen and (max-width: 768px) {
  .menu a:before {
    bottom: 150%;
    top: auto;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.menu a.active:before {
  animation: navdot 0.25s ease-in-out forwards 0.25s;
}
.menu .ui.divider{margin: 0 !important; }

.push .ui.button:not(.icon) > .icon:not(.button):not(.dropdown){ margin: 0 !important}


.ui.icon.header{ text-align: right !important; }

.ui.segment .ui.header .icon{ padding: 10px; margin-top: -6px}
.ui.segment .ui.header .icon i { margin: 0px; padding:0 }

.ui.visible.left.sidebar ~ .fixed, .ui.visible.left.sidebar ~ .pusher{transform: translate3d(160px,0,0) !important;}

.ui.icon.header{ }
.ui.fluid.steps, .ui.steps .step:first-child, .ui.steps .step:first-child, .ui.steps .step:last-child{border-radius: 0 !important; margin: 0 !important}
.ui.fluid.steps.inverted{border-color: #222 !important}
.ui.fluid.steps.inverted .step{ background: #1f1f1f  !important; color: #f1f1f1 !important; border-color: #333}
.ui.steps.inverted .step.active{ background: #111 !important;}
.ui.steps.inverted .step.active::after, .ui.steps .step::after{ background: #111 !important; border-color: #333}
.ui.steps.inverted .step::after{ background: #1f1f1f !important; border-color: #333}
.ui.fluid.steps.inverted .step:hover, .ui.fluid.steps .step:hover  {text-decoration: none}
.ui.fluid.steps.inverted .icon{ color: #f1f1f1 !important}
.ui.segment.view.story, #StepsContent.ui.segment.view {padding: 0 !important; }
.ui.segment.view.story, #StepsContent.ui.segment{ padding: 0 !important; margin: 0 !important}
.ui.segment.stagesMap{ padding: 0 !important}
.ui.segment.stages { padding: 0 2em 1em; max-height: 70.6vh; overflow: scroll}
.ui.buttons{ padding: 0 0 1em}
.ui.table{margin: 0 !important; border-radius: 0 !important; padding: 0 !important}
.ui.table:first-child{margin-top: 0 !important; }
.ui.segment.view.map{padding: 0 !important}
.sytylingMap{margin: 2em !important}
.ui.label.labelLayer {}

input[type="color"] {
}
.ui.label.labelLayer.inverted{ background: transparent}

.public-DraftEditor-content{ margin: 2em 0; }
.ui.segment.main-board  .segment.board{padding: .6em}
.ui.segment.main-board  .segment.board .segment .droppable{box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9) !important; border:0; }
.ui.segment{ box-shadow: auto ; border: 0 !important; border-radius: 0 !important; background: #e2e2e2; padding: 0 }

.ui .colorSelector input[type='checkbox']{
    width: 20px;
    height: 20px;
    margin: 2px 0 0 0;
}
.ui .colorSelector{ margin: 5px 0}
.ui .label.labelLayer{ text-transform: uppercase; background: transparent; color:#fff }
.ui .segment.parametersMap{ padding: 0}

.mapboxgl-popup-close-button{ top: 5px; }
.mapboxgl-popup-content{ padding: 0}
.mapboxgl-popup-content .ui.card{margin: 0 }
.mapboxgl-popup-content .header{margin: 10px 0}

.ui .right.floated{ float: right}
.ui .left.floated{ float: left}

.ui.segment.main{ padding: 0 !important; }
.ui.segment.pushable, .ui.segment.main{ background: transparent !important; margin: 0}
.ui.segment.view, .ui.segment.main-board, .ui.segment.blurring.dimmable, .ui.segment .StagesNav{ padding: 0 !important; margin:0 !important}
.ui.segment .StagesNav .ui.buttons{ margin: 3px}
.ui.segment .StagesNav {background: transparent}
.ui.segment.content, .ui.segment.story, .ui.segment.sinopsys, .ui.segment.credits {padding: 3em !important; margin:0}
.ui.segment.main-board .segment.stageProfile{box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);}
.ui.segment.single{ max-height: 23vh !important}
.ui.segment.main-board .segment ui.column.grid .ui.image, .ui.segment.main-board
.segment .ui.column.grid .segment.droppable, .ui.segment.main-board .segment .column.grid .ui.image img{ max-height: 19vh !important}
.ui.segment.main-board .segment{margin: 0}
.ui.horizontal .segment{ background: transparent !important; }
.ui.inverted.segment.stages{ padding: 0 !important; margin: 0 !important }
#StepsContent .segment, #StepsContent .segments, .ui.segment.stageCol{ margin: 0 !important; border: 0 !important}
#StepsContent .segments .segment{ margin: 0 ; padding: 0 }
.ui.segment.stageCol { border: 2px solid #222 !important}

#login .ui.form input, #signup .ui.form input, #login .button, #signup button, #users .ui.form input{ margin: 5px 0 !important;}

.ui.card.inverted{ background: #222 !important; color:#fff !important; border: 0px transparent solid !important; box-shadow: 0px 1px 3px 0px #000, 0px 0px 0px 1px #000 !important; }
.ui.card.inverted .content {padding: 7px !important}
.ui.card.inverted .content img{ border-radius: 2px}
.ui.card.inverted .header, .ui.card.inverted .description, .ui.card.inverted .meta{color: #fff !important; padding:0px 10px}

.ui.main.artist .ui.form input, .ui.main.user .ui.form input, .ui.segments .input, .ui.segments .button, .ui.main .ui.form .input.labeled input{ margin-left: 10px}

.ui.form.inverted select {
    -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;       /* Remove default arrow */
    display: block;
    height: auto;
    width: 100%;
    background: transparent !important;
    color: #fff !important;
    border: 1px solid #666;
    border-radius: 0.25rem;
    box-shadow: 0em 0em 0em 0emtransparent inset;
    padding: 0.62em 0.875em;
    color:rgba(0, 0, 0, 0.87);
    transition: color 0.1s ease, border-color 0.1s ease;
    background: url() no-repeat right white;
}

.segment .stagePhoto{ text-align: center}

.ui.main .ui.form .ui.labeled.input.inverted > span, .ui.labeled.input > .label, .ui .inverted .label.label{color: #fff; background: #222 !important; padding: 10px; font-weight: 600}
.ui.main .ui.form  .checkbox.inverted .label, .ui.main .ui.form .input.labeled input{ color: #fff}
.ui.user .ui.avatar {width: 6em; height: 6em}
.ui.main .segments {background: transparent !important}

.ui.progress:last-child{margin: 0.3em 0em !important;}
.ui.progress.indicating .progress{ right: 0.2em !important; }
.button.primary, .primary {
    background: rgb(200,49,21) !important;
    background: linear-gradient(270deg, rgba(200,49,21,1) 0%, rgba(253,29,29,1) 26%, rgba(255,164,0,1) 94%) !important;}

.button.primary:hover { background-position: right !important;}

.ui.segment.stylingMap{padding: 0}

.ui.small.modal > .header:not(.ui) { background: #0B0C0D !important; }
.ui.segment.preflight{margin: 0; padding-bottom: 0}
.ui.segment.preflight .column.two{ padding: 1rem 0rem !important}
.ui.segment.preflight .divider{margin: 0 -1em !important;}
.ui.segment.preflight .label i{margin: 0em 0.1em 0em 0em}
.ui.segment.preflight .ui.horizontal.labels .label, .ui.horizontal.label{ margin: 0em 0.2em 0em 0em !important}
.ui.segment.preflight .ui.bottom.attached.segment.active.tab{padding: 0 !important; background: transparent}
.ui.segment.preflight .slide-out .ui.grid{ background: #111; margin-top: -8px !important}
.ui.preflight .grid{ margin-top: 10px}
.ui.preflight .ui.red.message, .ui.preflight .ui.green.message{ background-color: transparent !important}
.ui.preflight .ui.message .content{ color: white }
.ui.preflight .ui.message .list{ margin: 0; }
.ui.preflight .storyTitle, .ui.small.modal.preflight .header{ margin: .6em -.8em 0; padding: 1em;background: #0B0C0D }
.ui.small.modal.preflight .header{margin: 0;}
.ui.segment.preflight .actions, .ui.modal.preflight .content .ui.grid, .ui.modal.preflight .content .ui.grid .segment{ background: #0B0C0D !important}
.ui.small.modal.preflight .segment{ margin: 0}
.ui.segment.preflight .header span.right{ float: right; color: #666}
.ui.preflight .ui.red.message .header{ padding: 0; margin: 0}
.exportMessage, .exportMessage div{ background: #1B1C1D !important; color:#fff}
.exportMessage div.header{ color: #fff !important}

