.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes nav {
  from { opacity: 0; transform: translate3d(0, -25px, 0) }
  to { opacity: 1; transform: translate3d(0, 0, 0) }
}

.menu {
  animation: nav 0.2s ease-in-out forwards;
  opacity: 0;

}
body {
  background-color: 'violet';
}
.main {
  padding-top: 6vh!important;
  height: 100vh;
  background-color: 'violet';
}
.view {
  margin: 0;
  padding: 0!important;
}
@media screen and (max-width: 768px) {
  .menu {
    padding: 1em;
  }
}

.menu a {
  color: white;
}

@media screen and (max-width: 768px) {
  .menu a {
    margin: 0 1em;
  }
}

@keyframes navdot {
  from { opacity: 0; }
  to { opacity: 1; }
}

.menu a:before {
  border-radius: 50%;
  content: '';
  background-color: #ff5252;
  left: 0;
  height: 10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translate(-200%, -50%);
  width: 10px;
}

@media screen and (max-width: 768px) {
  .menu a:before {
    bottom: 150%;
    top: auto;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.menu a.active:before {
  animation: navdot 0.25s ease-in-out forwards 0.25s;
}
